
@{
    ViewData["Title"] = "Home Page";
}


<div class="welcome-container">
    <h1 class="display-4">Welcome to our Music Album Page</h1>
    <p class="cta-text">Join our community to discover and rate your favorite albums!</p>
    <a href="https://localhost:7249/Identity/Account/Register" class="btn btn-cta">Register Now</a>
</div>


