<h2>Admin Dashboard</h2>

<a asp-controller="Admin" asp-action="AddArtist" class="btn btn-primary">Add Artist</a>
<a asp-controller="Admin" asp-action="EditArtist" class="btn btn-primary">Edit Artist</a>
<a asp-controller="Admin" asp-action="DeleteArtist" class="btn btn-primary">Delete Artist</a>
<br />
<br />
<a asp-controller="Admin" asp-action="AddAlbum" class="btn btn-primary">Add Album</a>
<a asp-controller="Admin" asp-action="EditAlbum" class="btn btn-primary">Edit Album</a>
<a asp-controller="Admin" asp-action="DeleteAlbum" class="btn btn-primary">Delete Album</a>
<br />
<br />
<a asp-controller="Admin" asp-action="AddSong" class="btn btn-primary">Add Song</a>
<a asp-controller="Admin" asp-action="EditSong" class="btn btn-primary">Edit Song</a>
<a asp-controller="Admin" asp-action="DeleteSong" class="btn btn-primary">Delete Song</a>